.div-banner {
    margin-bottom: 38px;

    @media only screen and (max-width: 380px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.all-collapseAbout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1023px;
    margin-bottom: 38px;

    @media only screen and (max-width: 380px) {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.all-collapseAbout .div-icon {
    left: 960px;

    @media only screen and (max-width: 380px) {
        padding-right: 5%;
    }
}

.all-collapseAbout p {
    padding: 20px;

    @media only screen and (max-width: 380px) {
        padding: 10px;
    }
}

.all-collapseAbout .collapseBody {
    padding: 0px;
}

.div-banner-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.all-collapseAbout div {
    width: 1023px;

    @media only screen and (max-width: 380px) {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        position: unset;
    }

}

.all-collapseAbout .svg-inline--fa {
    left: 960px;
}

  