.div-banner {
    margin-bottom: 38px;
}

.all-collapseAbout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1023px;
    margin-bottom: 38px;
}

.all-collapseAbout .div-icon {
    left: 960px;
}

.all-collapseAbout p {
    padding: 20px;
}

.all-collapseAbout .collapseBody {
    padding: 0px;
}

.div-banner-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.all-collapseAbout div {
    width: 1023px;
}

.all-collapseAbout .svg-inline--fa {
    left: 960px;
}



/*[id="react-collapsed-panel-:r0:"] {
    
    transition: height 10s !important;
}*/
  