

body  {
    width: 1440px;
}

.container-carousel {
    display: flex;
    justify-content: center;
}

.Carousel {
    height: 415px;
    width: 1240px;
}

.img-carousel {
    height: 415px;
    width: 1240px;
    border-radius: 25px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .thumb {
    display: none !important;
}

.carousel .carousel-status {
    bottom: 0 !important;
    top: auto !important;
    right: 604px !important;
    font-family: Montserrat;
    font-size: 18px !important;
}


.infos-container {
    margin: auto;
    width: 1240px;
}

.titl-name-img {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.titl-name-img h2{
    display: flex;
    align-items: center;
}

.name-img {
    display: flex;
    gap: 10px;
}

.name-img img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.name-img h4 {
    position: unset;
    padding-top: 0;
    margin: 0;
    width: 77px;
    color: #FF6060;
    display: flex;
    align-items: center;
    text-align: end;
}

.log-location {
    position: unset;
    padding-top: 0;
    margin: 0;
    width: auto;
    color: #FF6060;
}

.tags-rating{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.tags{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.tags-rating h5{
    height: 25px;
    width: 145px;
    border-radius: 10px;
    background: #FF6060;
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.collapse-desc-equip {
    display: flex;
    justify-content: space-between;
    margin: 26px 0px 50px 0px;
}