$textColor: #FF6060;
$textFamily: Montserrat;

body  {
    width: 1440px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $textFamily;
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-family: $textFamily;
    font-size: 36px;
    font-weight: 500;
    color: $textColor;
}

h3 {
    font-family: $textFamily;
    font-size: 24px;
    font-weight: 500;
    color: $textColor;
}

h4 {
    font-family: $textFamily;
    font-size: 18px;
    font-weight: 500;
    color: $textColor;
}

h5 {
    font-family: $textFamily;
    font-size: 14px;
    font-weight: 500;
    color: $textColor;
}