$textColor: #FF6060;
$textFamily: 'Montserrat';
$weightFamily : 500;


* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $textFamily;
    font-size: 48px;
    font-weight: $weightFamily ;
    @media only screen and (max-width: 380px) {
        font-size: 24px;
        top: 108px;
        width: 60%;
        padding-left: 10px;
    }
}

h2 {
    font-family: $textFamily;
    font-size: 36px;
    font-weight: $weightFamily ;
    color: $textColor;
    @media only screen and (max-width: 380px) {
        font-size: 18px;
    }
}

h3 {
    font-family: $textFamily;
    font-size: 24px;
    font-weight: $weightFamily ;
    color: $textColor;
    @media only screen and (max-width: 380px) {
        font-size: 12px;
    }
}

h4 {
    font-family: $textFamily;
    font-size: 18px;
    font-weight: $weightFamily ;
    color: $textColor;
    @media only screen and (max-width: 380px) {
        font-size: 18px;
    }
}

h5 {
    font-family: $textFamily;
    font-size: 14px;
    font-weight: $weightFamily ;
    color: $textColor;
    @media only screen and (max-width: 380px) {
        font-size: 10px;
    }
}