.imgPaysageBanner1 {
    width: 85%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    mix-blend-mode: darken;
    background-color: black;
    filter: brightness(65%);
}

.div-img-banner1 {
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    position: absolute;
    display: flex;
    top: 150px;
    z-index: 2;
}