.home-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.home-page .imgPaysageBanner1 {
    @media only screen and (max-width: 380px){
        height: 111px;
    }
}