$primary-color : #FF6060;

body  {
    width: 1440px;
    @media only screen and (max-width: 380px) {
        width: 100%;
    }
}

.container-carousel {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 380px){ 
        height: 300px;
    }
}

.infos-container {
    margin: auto;
    width: 1240px;
    @media only screen and (max-width: 380px){ 
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}

.titl-name-img {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @media only screen and (max-width: 380px){ 
        width: 91%;
        margin: 0;
    }
}


.titl-name-img h2{
    display: flex;
    align-items: center;
}

.name-img {
    display: flex;
    gap: 10px;

    @media only screen and (max-width: 380px){ 
        align-items: center;
    }
}

.name-img img {
    width: 64px;
    height: 64px;
    border-radius: 32px;

    @media only screen and (max-width: 380px){ 
        width: 32px;
        height: 32px;
    }
}

.name-img h4 {
    position: unset;
    padding-top: 0;
    margin: 0;
    width: 77px;
    color: $primary-color;
    display: flex;
    align-items: center;
    text-align: end;

    @media only screen and (max-width: 380px){ 
        font-size: 12px; 
        width: 100%;
    }
}

.log-location {
    position: unset;
    padding-top: 0;
    margin: 0;
    width: auto;
    color: $primary-color;

    @media only screen and (max-width: 380px){ 
        font-size: 14px; 
        margin-top: 3%;
    }
}

.tags-rating{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;

    @media only screen and (max-width: 380px){ 
        flex-direction: column;
        margin-top: 12px;
    }
}

.tags{
    display: flex;
    gap: 10px;
    justify-content: center;

    @media only screen and (max-width: 380px){ 
        justify-content: unset;
        white-space: nowrap;
    }
}

.tags-rating h5{
    height: 25px;
    width: 145px;
    border-radius: 10px;
    background: $primary-color;
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media only screen and (max-width: 380px){ 
        width: 100%;
        height: 18px;
        border-radius: 5px;
    }
}

.collapse-desc-equip {
    display: flex;
    justify-content: space-between;
    margin: 26px 0px 50px 0px;

    @media only screen and (max-width: 380px){ 
        flex-direction: column;
        margin: 0;
    }
}

.infos-container .div-icon {
    @media only screen and (max-width: 380px){ 
        left: unset;
        right: 15px;
    }
}

.profile-desktop {
    @media only screen and (max-width: 380px){ 
        visibility: hidden;
        width: 0px;
        position: absolute;
    }

    @media only screen and (min-width: 381px){ 
        display: flex;
    }
}

.profile-phone {
    @media only screen and (max-width: 380px){ 
        display: flex;
        gap: 8%;
    }

    @media only screen and (min-width: 381px){ 
        visibility: hidden;
        width: 0px;
        position: absolute;
    }
}

.stars-profile {
    @media only screen and (max-width: 380px){ 
        display: flex;
        justify-content: space-between;
    }
}