
.card-logement { 
    display: grid;
    grid-template-columns: repeat(3, 28%);
    background-color: #F6F6F6;
    width: 90%;
    justify-content: center;
    margin-top: 43px;
    margin-bottom: 56px;
    padding-top: 56px;
    padding-bottom: 43px;
    align-items: end;
    gap: 50px;
    justify-items: center;
    border-radius: 25px;

    @media only screen and (max-width: 380px){ 
        display: block;
        background: white;
        padding: 0;
        margin-top: 22px;
        margin-bottom: 9px;
        border-radius: 10px;
    }
}

.img-card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
}


h4 {
    position: absolute;
    color: #FFFFFF;
    padding-top: 275px;
    margin: 12px;
    width: 239px;
    z-index: 2;
}

.img-container {
    position: relative;


    @media only screen and (max-width: 380px){ 
        margin-bottom: 18px;
    }
}
  
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
  