
ul {
    display: flex;
    gap: 57px;
    list-style: none;
}

ul li a{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}
  
.active{
    text-decoration: underline;
}