
ul {
    display: flex;
    gap: 57px;
    list-style: none;
    @media only screen and (max-width: 380px) {
        gap: 0px;
        justify-content: space-between;
    }
}

ul li a{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
    @media only screen and (max-width: 380px) {
        font-weight: 400;
        font-size: 14px;
    }
    
}
  
.active{
    text-decoration: underline;
}