$size-pixel : 24px;

.div-stars {
    display: flex;
    gap: 15.25px;
}

.red-star {
    height: $size-pixel;
    width: $size-pixel;
    color:#FF6060;
}

.red-star path {
    height: $size-pixel;
    width: $size-pixel;
}

.gray-star {
    color:#E3E3E3;
    height: $size-pixel;
    width: $size-pixel;
}

.gray-star path {
    height: $size-pixel;
    width: $size-pixel;
}