

.div-stars {
    display: flex;
    gap: 15.25px;

    @media only screen and (max-width: 380px){ 
        margin: 27px 0px 22px 0px;
    }
}

.red-star {
    height: 24px;
    width: 24px;
    color:#FF6060;

    @media only screen and (max-width: 380px){ 
        width: 13px;
        height: 13px;
    }
}

.red-star path {
    height: 24px;
    width: 24px;
}

.gray-star {
    color:#E3E3E3;
    height: 24px;
    width: 24px;

    @media only screen and (max-width: 380px){ 
        width: 13px;
        height: 13px;
    }
}

.gray-star path {
    height: 24px;
    width: 24px;
}